.btn__rotate{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    opacity: 0.35;
    border-radius: 50%;
}
.btn__rotate::before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffd0d0;
}
.btn__rotate::after{
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    border-radius: 50%;
    z-index: -1;
    background-color: black;
}
.btn__rotate:hover{
    opacity: 1;
}
.rotate2::before{
    background-color: #d8d0ff;
}
.rotate3::before{
    background-color: #d0ffd6;
}
.btn__rotate p{
    transform: translateY(-1px);
    font-size: 1.25rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn__rotate img{
    width: 50px;
}

@media screen and (max-width: 768px){
    .btn__rotate{
        opacity: 0.5;
    }

    .btn__rotate::before{
        height: 40px;
        width: 40px;
    }

    .btn__rotate p{
        display: none;
    }

    .btn__rotate::after{
        height: 43px;
        width: 43px;
    }
}