:root{
  --settingsWidth: 500px;
}

body{
  width: 100vw;
  overflow: hidden;
  background-color: #1c1c1c;
}

Canvas:active{
  cursor: grabbing;
}

.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading{
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: rgb(70,70,70);
  padding: 15px;
  box-shadow: 0 0 50px rgba(0,0,0,0.65);
  border-radius: 50%;
}

.fade__in{
  animation: fadeAnim 0.75s;
}

.fade__out{
  opacity: 0;
  animation: fadeAnim 0.75s reverse;
}

.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, grey -150%, white);
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}
.dropdown.active img{
  transform: rotate(0deg);
  transition: 0.25s;
}
.dropdown img{
  transform: rotate(180deg);
  width: 20px;
  padding: 8px;
  transition: 0.25s;
}
.colorsContainer p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 0;
  margin: 7px;
}
.colorsContainer.dark .dropdown{
  background: linear-gradient(0deg, black -150%, grey);
}

button{
  font-size: 2rem;
  border: none;
  border: 2px solid rgb(50,50,50);
  padding: 0.25rem 4rem;
  border-radius: 6px;
  box-shadow: 0 5px rgba(0,0,0,0.33);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: 0.25s;
}
button:hover:not(.inactive, .mix__btn){
  transform: 
    translateY(2px);
  box-shadow: 0 3px rgba(0,0,0,0.33);
}
button:active:not(.inactive, .mix__btn){
  animation: clicked 0.15s linear;
}

@keyframes clicked {
  0% {
      transform: translateY(2px);
      box-shadow: 0 3px rgba(0,0,0,0.33);
    }
  50% {
        transform: translateY(5px);
        box-shadow: 0 0px rgba(0,0,0,0.33);
      }
  100% {
    transform: translateY(2px);
    box-shadow: 0 3px rgba(0,0,0,0.33);
  }
}


.mix__btn{
  position: absolute;
  background: linear-gradient(45deg,dodgerblue -50%, blue 150%);
  color: white;
  left: 50%;
  top: 5vh;
  transform: translateX(-50%);
}
.mix__btn:hover{
  transform: translateX(-50%) translateY(2px);
  box-shadow: 0 3px rgba(0,0,0,0.33);
}

.mix__btn__small{
  background: linear-gradient(45deg,dodgerblue -50%, blue 150%);
  color: white;
  font-size: 1.5rem;
  margin: 15px;
}

.inactive{
  filter: saturate(0);
  opacity: 0.5;
  cursor: default;
}

.mode__btn{
  margin-left: 5px;
  border-radius: 50%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: 0.15s;
  padding: 0;
}
.mode__btn img{
  width: 25px;
  height: 25px;
  padding: 5px;
}

.settingsTop{
  z-index: 200;
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.1);
}
.settingsTop.dark {
  background-color: rgba(255,255,255,0.065);
}
.settingsTop.dark button{
  background-color: rgb(25,25,25);
  border-color: rgba(255,255,255,0.33);
  color: white;
}
.settingsTop.dark button img{
  filter: invert(1)
}
.settingsTop.dark .settings__close{
  border-color: rgba(255,255,255,0.33);
  background: black;
  color: white;
}
.settingsTop.dark .settings__close:hover{
  color: red;
  transition: 0.2s;
  border-color: red;
}
.settingsTop select{
  height: 30px;
  border: 2px solid rgb(50,50,50);
  border-radius: 6px;
  cursor: pointer;
  width: 30%;
  text-align: center;
}
.settingsTop.dark select{
  background-color: rgb(25,25,25);
  border-color: rgba(255,255,255,0.33);
  color: white;
}

.settings__btn{
  display: flex;
  position: absolute;
  top: 5vh;
  right: 0;
  background-color: rgb(220,220,220);
  background: linear-gradient(45deg,rgb(200,200,200), white);
  border: 2px solid rgba(0,0,0,0.4);
  border-right: none;
  border-radius: 8px 0 0 8px;
  box-shadow: -3px 0 20px -3px rgba(0,0,0,0.6);
  cursor: pointer;
  transition: 0.1s;
}
.settings__btn img{
  width: 25px;
  height: 25px;
  padding: 10px 3px;
  pointer-events: none;
}

.settings__btn:hover img{
  animation: spin 6s linear infinite;
}

.settings__bar{
  z-index: 200;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: calc((var(--settingsWidth))* -1);
  top: 0;
  width: var(--settingsWidth);
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 25px -10px rgba(0,0,0,0.75);
  cursor: default;
  transition: 0.35s;
  overflow: auto;
}
.settings__bar.dark{
  background-color: #161616;
}

.settings__bar.active{
  right: 0;
  transition: 0.45s;
}

.settings__close{
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-radius: 0 0 0 6px;
}
.settings__close p{
  transform: translateY(-6%)
}

.settings__close:hover{
  color: red;
  transition: 0.2s;
  border-color: red;
}

.inputColor{
  border: 2px solid grey;
  background-color: none;
  background: none;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
  height: 60%;
  cursor: pointer;
}

.slideContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 0 15px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.33);
}
.slideContainer p {
  min-width: 100px;
}
.slideContainer.dark{
  background-color: black;
  color: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.03);
}

.colorsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.33);
}
.colorsContainer.dark{
  background-color: black;
  color: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.03);
}

.slideContainer p{
  width: 5vw;
}

.textRight{
  text-align: center;
  font-weight: bold;
}

.slideContainer input{
  width: 10vw;
}

input::-webkit-color-swatch {
  border: none;
}

input[type=color]{
-webkit-appearance: none;
border-radius: inherit;
}

.colorContainer{
  position: relative;
  display: flex;
  margin: 15px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.individualColor{
  box-shadow: 0 0 5px black inset;
  display: flex;
  width: 16.66%;
  border-radius: 6px;
}

.colorContainer img{
  width: 100%;
  height: 100%;
  opacity: 0;
}

.colorContainer .overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: bold;
  font-size: 1.5rem;
  backdrop-filter: blur(20px);
  width:100%;
  height: 100%;
  transition: 0.15s;
}

.colorContainer p{
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 15px black;
  color: #0e44ff;
  padding: 4px 15px;
  min-width: 6vw;
  border-radius: 6px;
  transition: 0.15s;
  border: 4px solid #0e44ff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.33) inset;
}

.colorContainer:hover p{
  opacity: 0;
  transition: 0.2s;
}

.colorContainer:hover .overlay{
  backdrop-filter: blur(0px);
  transition: 0.2s;
  text-shadow: none;
}

.colorContainer:hover img{
  opacity: 1;
}

@keyframes slideIn {
  from {right: -30vw;}
  to {right: 0;}
}

@keyframes spin {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

@keyframes fadeAnim {
  from{opacity: 0;}
  to{opacity: 1;}
}



@media screen and (max-width: 768px) {
  .App-logo{
    width: 100px;
    top: 1.5vh;
    right: 0;
  }

  .mix__btn{
    left: 5vh;
    transform: translateX(0)
  }

  .mix__btn:hover {
    transform: 
    translateX(0)
    translateY(2px);
  }

  .settings__btn{
    top: auto;
    bottom: 5vh;
  }

  .settings__bar{
    width: 100vw;
    right: -100vw;
  }

  select{
    display: none;
  }

  .slideContainer input{
    width: 100%;
  }

  .colorsContainer{
    margin-bottom: 100px;
  }

  .mix{
    display: none;
  }
}